:host {
    .card {
      background-color: rgba(231, 235, 220, 0.63);
    }
    .character-image {
      border-radius: 20%;
      border-color: gray;
      border-style: solid;
      border-width: 2px;
      margin: 0 auto;
    }
  }