  
  <p p>Duomenys naudojami iš:

    <a href="https://rickandmortyapi.com/api/character" target="_blank">
      Rickandmortyapi.com
    </a>
    </p>
  
    <h1 class="mb-3 text-primary">Rick And Morty Characters</h1>

    <div class="row mb-3">
      <div class="col-6">
        <div>
          <small>total characters: {{ charactersInfo.count }}</small>  
        </div>
             
      </div>
  
      <div class="col-6 mb-1 text-end ">
        
        <div class="justify-content-md-end">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-dark ms-1 mt-1" (click)="previousPage()">
              PREVIOUS page  
            </button>
            <button class="btn btn-outline-dark ms-1 mt-1" (click)="nextPage()">
              NEXT page
            </button>
  
          </div>
          
          <div class="mt-2">
            <small>{{page}} page of {{ charactersInfo.pages }}</small>
          </div>   
        </div>
        
      </div>      
    </div>
    

  <div class="row col-12 d-flex justify-content-center m-auto">    
    
      <div class="col-lg-4 col-sm-6  mb-3" *ngFor="let character of characters">

        <app-character-card [character] = "character"></app-character-card>

        <!-- perkelsim i character-card -->
        <!-- <div class="card text-center " >
          <div class="card-img-top">
            <img [src]="character.image" [alt]="character.name" class="img-fluid " />
          </div >
          <div class="card " routerLink="character/{{ character.id }}">
            <div class="card-header">
              <h4 class="text-black-50">
                {{ character.name }}
              </h4>              
            </div>
            <p class="card-text"> 
                        
            </p>               
            <div class="card-footer">
              
              <button class="btn btn-light text-primary">About <br> {{ character.name }}  </button>
            </div>
          </div>  
        </div>   -->
        <!-- perkelsim -->
    
      </div>
  </div>

  