<p>character-card works!</p>


    <div class="card text-center " >
          <div class="card-img-top">
            <img [src]="character.image" [alt]="character.name" class="img-fluid " />
          </div >
          <div class="card " routerLink="character/{{ character.id }}">
            <div class="card-header">
              <h4 class="text-black-50">
                {{ character.name }}
              </h4>              
            </div>
            <p class="card-text"> 
                        
            </p>               
            <div class="card-footer">
              
              <button class="btn btn-light text-primary">About <br> {{ character.name }}  </button>
            </div>
          </div>  
        </div>  
 